@model IEnumerable<ProjetFinal.Models.Avion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFabrication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeleAvion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFabrication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeleAvion.ModeleAvionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Performance.PerformanceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AvionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AvionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
