@model ProjetFinal.Models.ModeleAvion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ModeleAvion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomModele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomModele)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnneeLancement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneeLancement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacitePassagers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacitePassagers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longueur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longueur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque.MarqueId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ModeleAvionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
