@model IEnumerable<ProjetFinal.Models.ModeleAvion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomModele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnneeLancement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacitePassagers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomModele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnneeLancement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacitePassagers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque.MarqueId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModeleAvionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ModeleAvionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ModeleAvionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
