@model IEnumerable<ProjetFinal.Models.ModeleAvion>

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<p>
    <a class="btn btn-secondary" asp-action="VueNombreAvionsParMarque">NombreAvionsParMarque</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Nom du modèle</th>
            <th>Année de lancement</th>
            <th>Capacité de passagers</th>
            <th>Longueur</th>
            <th>Marque</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NomModele</td>
                <td>@item.AnneeLancement</td>
                <td>@item.CapacitePassagers</td>
                <td>@item.Longueur</td>
                <td>@item.Marque.NomMarque</td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ModeleAvionId">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ModeleAvionId">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ModeleAvionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
